0 * * * * /home/oracal/bin/celery_daemon.sh 2>> /home/oracal/webapps/repowatcher/logs/cron_celery.log
0 * * * * /home/oracal/bin/redis_daemon.sh 2>> /home/oracal/webapps/repowatcher/logs/cron_redis.log
9,29,49 * * * * /home/oracal/webapps/repowatcher/apache2/bin/start
