Django==1.4
amqplib==1.0.2
anyjson==0.3.1
argparse==1.2.1
celery==2.5.3
certifi==0.0.8
chardet==1.0.1
django-celery==2.5.5
django-celery-with-redis==2.5
django-debug-toolbar==0.9.4
django-picklefield==0.2.0
django-redis-cache==0.9.2
-e git://github.com/omab/django-social-auth.git@09624055ccdb2d2112cf3d7093c00e3b4a6733df#egg=django_social_auth-dev
dnspython==1.10.0
eventlet==0.9.16
greenlet==0.3.4
httplib2==0.7.4
ipdb==0.6.1
ipython==0.12
kombu==2.1.5
mercurial==2.0.1
oauth2==1.5.211
psycopg2==2.4.5
pycrypto==2.6
pygithub3==0.4.1
python-dateutil==1.5
python-openid==2.2.5
redis==2.4.11
requests==0.13.2
requests-oauth==0.4.1
slumber==0.4.2
virtualenv==1.7
virtualenvwrapper==2.10.1
wsgiref==0.1.2