{% extends "header.html" %}

{% block title %}
<title>repowatcher : about</title>
{% endblock %}

				{% block nav %}
					<ul class="nav">
						<li><a href="{% url repowatcher.main.views.watched_popular %}">Popular</a>
						</li>
						<li class = "active"><a href="{% url repowatcher.main.views.about %}">About</a>
						</li>
						{% if user.is_authenticated %}
						<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Account<b class="caret"></b></a>
						<ul class="dropdown-menu">
						<li><a href="{% url repowatcher.main.views.authed %}">Account</a>
						</li>
						<li><a href="{% url repowatcher.main.views.logout %}">Logout</a>
						</li>
						</ul>
						</li>
						{% else %}
						<li><a href="{% url repowatcher.main.views.index %}">Login</a>
						</li>
						{% endif %}
					</ul>
				{% endblock %}

{% block content %}
<div class = "container">
<br></br>

<div class="well" style ="margin-left: auto; margin-right: auto; display: block; width: 400px; text-align:center;">
Simplistic site to improve the way we can organise our saved repositories and keep up-to-date with important changes. Also consolidates code from various online hosting services for ease of use.
</div>
<br/>
		<div>
		
		<div class="span3" style="margin-left:0px;">
		<p><a class="screenshots screenshots-left" href="/media/img/github_watched_unauthed.png" title="Github watched repositories without logging in, sorted by the amount of repository watchers."><img src="/media/img/github_watched_unauthed.png"/></a></p>
		<p><a class="screenshots screenshots-left" href="/media/img/github_watched_authed_button.png" title="Github watched repositories after logging in and clicking save, categorized and sorted in your own order by dragging and dropping repositories."><img src="/media/img/github_watched_authed_button.png"/></a></p>
		<p><a class="screenshots screenshots-left" href="/media/img/category_authed_button.png" title="Github category with events after logging in."><img src="/media/img/category_authed_button.png"/></a></p>
		</div>
		<div class="span3" style="float:right;">
		<p><a class="screenshots screenshots-right" href="/media/img/watched_authed.png" title="Combined watched repositories from Github and Bitbucket."><img src="/media/img/watched_authed.png"/></a></p>
		<p><a class="screenshots screenshots-right" href="/media/img/user.png" title="User page showing user information and events."><img src="/media/img/user.png"/></a></p>
		<p><a class="screenshots screenshots-right" href="/media/img/repository_authed.png" title="Repository page showing repository information and events."><img src="/media/img/repository_authed.png"/></a></p>
		
		</div>
		<div class="span3" style ="margin-left: auto; margin-right: auto; float:none">
			<table id="repositories" class="table table-striped table-bordered" style ="overflow:hidden; table-layout:fixed;>
				<thead>
					<tr>
						<th style="text-align:center;">List of Libraries Used</th>
					</tr>
				</thead>
				<tbody class="connectedSortable">
					{% for repository in used %}
					{% if repository.host == 'github' %}
						<tr>
							<td style = "cursor:move;text-align:center;"><a title ="{{repository.owner}}/{{repository.name}}" href ="{% url repowatcher.main.views.github_repo repository.owner repository.name %}">{{repository.owner}}/{{repository.name}}</a></td>
						</tr>
						{% elif repository.host == 'bitbucket' %}
						<tr>
							<td style = "cursor:move;text-align:center;"><a title ="{{repository.owner}}/{{repository.name}}" href ="{% url repowatcher.main.views.bitbucket_repo repository.owner repository.name %}">{{repository.owner}}/{{repository.name}}</a></td>
						</tr>
						{% endif %}

					{% endfor %}
				</tbody>
			</table>
			
		</div>
		</div>
		
		
</div>
{% endblock %}

{% block script %}
	<style>
	
	
	.screenshots{
	
	}
	
	.screenshots img{
	width: 150px;
	height: 95px;
	border: 1px solid #08C;
	margin-top:25px;
	
	}
	
	.screenshots-left img{
	float:left;
	}
	
	.screenshots img:hover{
	border: 1px solid #005580;
	}
	
	.screenshots-right img{
	float:right;
	
	}
	
	
	</style>
	<script src="/media/js/jquery.min.js"></script>
	<script src="/media/js/bootstrap.min.js"></script>
	<script src="/media/js/jquery-ui.min.js"></script>
	<script src="/media/js/jquery.colorbox.min.js"></script>
	<link rel="stylesheet" href="/media/css/colorbox.css" />
	<link href="/media/css/bootstrap-responsive.min.css" rel="stylesheet">
<script type="text/javascript">

	$(function(){
	
	  $(".connectedSortable").sortable({
      helper: function(e, tr)
      {
    	    var $originals = tr.children();
    	    var $helper = tr.clone();
    	    $helper.children().each(function(index)
    	    {
    	      // Set helper cell sizes to match the original sizes
    	      $(this).width($originals.eq(index).width())
    	    });
    	    return $helper;
    	  },
   connectWith: ".connectedSortable"
  }).disableSelection();
	  
	  
	  $(".screenshots").colorbox({rel:"screenshots"});
	  
	});
  </script>
  {% endblock %}